[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vimfiles/bundle/unimpaired"]
	path = vimfiles/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
