[submodule "vimfiles/bundle/unimpaired"]
	path = vimfiles/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vimfiles/bundle/markdown-folding"]
	path = vimfiles/bundle/markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
[submodule "vimfiles/bundle/gundo"]
	path = vimfiles/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vimfiles/bundle/solarized"]
	path = vimfiles/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = dirty 
[submodule "vimfiles/bundle/airline"]
	path = vimfiles/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "vimfiles/bundle/ctrlp"]
	path = vimfiles/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
